{% extends "layout.html" %}
{% set active_page = "home" %}

{% block title %}Home{% endblock %}
  
{% block content %}
    <!--page content-->
    
    <h1>Home Page</h1>
    <form action='/'>
     Would you like to convert sodium or hydrogen into a symbol? <br>
      <input type="text" name="symbol">
      <br><br>
      <input type="submit">
    <p>The data for this website was provided by CORGIS Dataset project which can be found <a href="https://think.cs.vt.edu/corgis/json/index.html">here</a>. The data was recorded in a 15 month period, from July 2014 to September 2015.  This data was created so users could find the hospital that was best for them. It lets people compare the quality of each hospital and where they are. 
    It also allows users to see if hospitals have emergency services, what they specialize in,outpatient volume,and the type of hospital they are. </p>
  <p>Some hospitals have a non disclosure agreement, meaning they wont release some information to the public. If you go to a specific hospital and cant find them on the website it may be the case of keeping information for patients privacy. The data set will also incude 
    the phone numbers of the hospitals and their location.</p>
    <p> On this website you will be able to easily navigate all the information that the data set provides. If you click on a tab it will bring you to a
        page that will have a place where you can type your state or hospital specialty in. From there it'll tell you all the hospitals that are in that state and if they have emergency services,their phone number and adress. If you chose to find hospitals that specialize in a certain practice it will list the Hospitals that provide
        the type of service you need and their location. </p>
    </form>
    <p>{{ response }}</p>
{% endblock %}
