{% extends "layout.html" %}
{% set active_page = "page2" %}

{% block title %}Page 2{% endblock %}
  
{% block content %}
    <!--page content-->
    <h1>Page 2</h1>
	<p> If you have taken the quiz, Below will show you your previous scores.</p>
	<p> Number correct in last attempt:
 {% if 'numCorrect' in session %} 
  {{ session['numCorrect'] }}/8<br>
 {% endif %}
Global Highscore:
 {% if 'highScore' in session %} 
   {{ session['highScore'] }}
 {% endif %} /8</p>
<p>{{ response }}</p>
{% endblock %}
