{% extends "layout.html" %}
{% set active_page = "page2" %}

{% block title %}Score!{% endblock %}
  
{% block content %}
    <!--page content-->
    <h1>This is your score!</h1>
	<p> If you have taken the quiz, Below will show you your previous scores.</p>
	<p> Number correct in last attempt:
 {% if 'numCorrect' in session %} 
  {{ session['numCorrect'] }}/8<br>
 {% endif %}
Global Highscore:
 {% if 'highScore' in session %} 
   {{ session['highScore'] }}
 {% endif %} /8</p>
<p>{{ response }}</p>
<img src="static/god.jpg" alt="Mr snuff">
{% endblock %}
