{% extends "layout.html" %}
{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}
  
{% block content %}
    <!--page content-->
    <h1>Page 1</h1>
    <form action='/page1'>
      Who is god?<br>
      <input type="text" name="first">
      <br><br>

      What is his full name?<br>
      <input type="text" name="second">
      <br><br>

      When was he born?<br>
      <input type="text" name="third">
      <br><br>

      How old is he??<br>
      <input type="text" name="fourth">
      <br><br>
      
      Who is god's best friend??<br>
      <input type="text" name="fourth">
      <br><br>
      
      WHO IS GOD????<br>
      <input type="text" name="first">
      <br><br>

      
      <input type="submit">
    </form>

<p>{{ response }}</p>
{% endblock %}
