{% extends "layout.html" %}
{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}
  
{% block content %}
<p id="demo"></p>

<script>
var countDownDate = new Date("August, 2018 0:0:0").getTime();

var x = setInterval(function() {


    var now = new Date().getTime();
    
    var distance = countDownDate - now;
   
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s until Mr.Snufflupagus' Birthday";
     
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
}, 1000);
</script>
    <!--page content-->
    <h1>Page 1</h1>
    <form action='/page1' method="POST">
      Who is god?<br>
      <input type="text" name="first">
      <br><p>{{ re1 }}</p><br>
	  

      What is his full name?<br>
      <input type="text" name="second">
      <br><p>{{ re2 }}</p><br>

      When was he born?<br>
      <input type="text" name="third">
      <br><p>{{ re3 }}</p><br>

      How old is he??<br>
      <input type="text" name="fourth">
      <br><p>{{ re4 }}</p><br>
      
      Who is god's best friend??<br>
      <input type="text" name="fifth">
      <br><p>{{ re5 }}</p><br>
      
       What is God's favorite food?<br>
      <input type="text" name="sixth">
      <br><p>{{ re6 }}</p><br>
      
       Which one of gods family members tried to kill two people?<br>
      <input type="text" name="seventh">
      <br><p>{{ re7 }}</p><br>
      
      WHO IS GOD????<br>
      <input type="text" name="eighth">
      <br><p>{{ re8 }}</p><br>

      
      <input type="submit">
    </form>

{% endblock %}
